body{
    background-color: #ffffff;
    margin: 0;
    color:#555;
    font-family: 'Courier New', Courier, monospace; 
    font-size:medium; 
    line-height: normal;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-header{
    background-color:#FF7F50 ;
    color: #ffffff;
    height:auto;
}
#navbr{
    background-color: #333;
    color: #ffffff;
}
#navbr ul{
    padding: 0;
    list-style: none;
}
#navbr li{
  display: inline;  
}
#navbr a{
    color: #ffffff;
    text-decoration: none;
    padding-right:  13px; 
    font-size: medium;
}
#showcase{
    background-image:url(lives.jpg) ;
    background-position: center right;
    text-align: center;
    margin-bottom: 33px;
    min-height: 200px;
}
#showcase h1{
    color: #ffffff;
    font-size: 40px;
    padding-top: 30px;
    line-height:1,6em ;
}
#main{
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding: 0 30px;
}
#sidebar{
    background-color:#333 ;
    color: #ffffff;
    width: 30%;
    float: right;
    box-sizing: border-box;
    padding: 10px;
}
#main-footer{
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding:20px ;
    margin-top:40px ;
}
@media (max-width: 600px) {
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}